__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
venv/
ENV/
env/
.venv
downloads/
static/downloads/
*.mp4
*.mp3
*.webm
*.m4a
*.flac
*.wav
.env
.DS_Store
