
PassengerEnabled On
PassengerPython /home/zwmhqeer/virtualenv/downloader.achek.com.ng/3.11/bin/python3
PassengerAppRoot /home/zwmhqeer/downloader.achek.com.ng

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /passenger_wsgi.py [L]
</IfModule>
